* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

.section-heading {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.blog-section,
.about {
    background-color: #E2E7E1;
    padding: 80px 15%;
}

nav {
    position: sticky;
    font-size: 17px;
    margin: 20px 17%;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

nav h1 {
    color: #2E3433;
    margin-left: 22px;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #2E3433;
    font-weight: 500;
}

nav ul li a:hover {

    color: #49A392;

}

/* Social icons */
.download {
    justify-content: space-around;
    padding: 22px 50px;
    background: #49A392;
    display: flex;
    align-items: center;
}

.social-icons ul {

    display: flex;
    list-style: none;

}

.social-icons ul li i {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}



.free-book {
    color: white;
    display: flex;

    align-items: center;


}

.free-book button {

    border: none;
    padding: 8px 18px;
    border-radius: 80px;
    background-color: #116757;
    color: white;
    font-size: 18px;
    margin-left: 12px;

}

.free-book button:hover {
    background-color: rgba(17, 103, 87, 70%);

}



/* Hero Section */
.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-section-bg {
    display: inline-block;
    opacity: .2;
    background-size: cover;
    width: 100%;
    height: 100vh;
    mix-blend-mode: color-dodge;
}


.hero-content {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 15%;
    opacity: 100;
    position: absolute;
    top: 20px;
    left: 30px;
}

.header-image {
    display: inline-block;
    height: 700px;
    width: auto;

}

.col-2 {
    margin-left: 50px;
}

.col-2 h2,
.col-2 h3 {
    margin-bottom: 20px;
}

.col-2 h2 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

.col-2 .btn {
    margin-top: 20px;


}

.col-2 p {
    line-height: 2;
}

.btn {

    border: none;
    padding: 8px 24px;
    border-radius: 80px;
    background-color: #49A392;
    color: white;
    font-size: 18px;

}

/* Blog section */


.blog-heading {
    margin-right: 50%;
    margin-bottom: 5%;
}

.blog-heading h1 {
    font-size: 40px;
    margin-bottom: 40px;
}


.blog-flex {
    display: flex;
    justify-content: center;
}

.icons ul {
    display: flex;

}

.icons ul li {
    margin-right: 6px;
    font-size: 8px;
    padding: 6px;
    background-color: #49A392;
    border-radius: 50%;
}

.blog-block,
.intro {
    margin: 20px;
}

.blog-block h3,
.blog-block p,
.intro h3,
.intro p {
    margin-bottom: 20px;

}

.blog-block p,
.intro p {
    line-height: 2;
}

.blog-block .btn {
    font-weight: 500;
}

.blog-block img {
    border-radius: 10px;
    border: 1px #116757;
    width: auto;
    height: 450px;
}

.intro-img {
    border-radius: 50%;
}

/* Recipe Section */

.recipe-section {
    padding: 3% 10%;
    background: #3E8276;
    color: white;

}

.recipe-section-blocks {
    display: flex;


}



.recipe-block {
    margin: 20px;
}

.recipe-img {
    width: auto;
    height: 160px;
    border-radius: 10px;
}

.recipe-block img,
.recipe-block h3,
.recipe-block p {
    margin-bottom: 30px;
}

.recipe-block p {
    line-height: 2;
}

.recipe-block .btn {
    display: inline-block;
    cursor: pointer;
}

/* Start Cooking */
.start-cooking {
    width: 100%;
    height: 600px;
    position: relative;
}

.start-cooking-bg {
    display: inline-block;
    opacity: .7;
    background-size: cover;
    width: 100%;
    height: 90%;
}

.start-cooking-box {
    background-color: #1D4B44;
    width: 800px;
    height: 300px;
    position: absolute;
    top: 130px;
    left: 400px;
    border-radius: 10px;
    color: white;
    text-align: center;

}

.start-cooking-box .btn-hollow {
    background-color: #116757;
    border: 2px solid white;
    margin-right: 10px;

}

.start-cooking-box {
    padding: 50px;

}

.start-cooking-box h2,
.start-cooking-box p {
    margin-bottom: 30px;
}

.btn-hollow:hover {
    border: 2px solid #49A392;
}

.start-cooking-btn:hover {
    opacity: .80;
}

/* About section */
.about {
    display: flex;
}

.about-col-1 {
    margin: 0 30px;
}

.footer ul li i {
    color: #2E3433;
    font-size: 40px;
    margin-right: 25px;
}

.about .about-col-1 h3 {
    font-size: 28px;
    color: #2E3433;
}

.about-col-1 p,
.about-col-1 h3,
.about-col-1 img {
    margin-bottom: 40px;

}

.inner-about {
    display: flex;

}

.inner-about p {
    margin: 0 0 10px 20px;

}

.about-col-1 p,
.inner-about p {
    line-height: 2;
}

.about-col-1 a {
    color: #2E3433;
    font-weight: 600;
    text-decoration: none;
}

/* Footer */
.main-footer {
    background: #1D4B44;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.nav-footer {
    display: flex;
    list-style: none;
    color: white;
}

.nav-footer a {
    margin-left: 18px;
    color: white;
    text-decoration: none;
}